body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 2844px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 92px 49px 92px 51px;
}

main {
  /*flex-grow: 1;*/
}

.header__menu {
  align-self: center;
  justify-self: start;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list {
  display: flex;
  column-gap: 13px;
}

.header__links-list-item_no-bullit 
{
  text-decoration: none;
}

.header__links-list-item {
  display: list-item; 
  list-style: circle inside;
}

.header__link_active {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.header__logo {
  align-self: start;
  justify-self: center;
}

.header__logo-image {
  display: inline-block;
  width: 148px;
  height: 105px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  justify-self: end;
  align-self: center;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.cover {
  border: 1px solid green;
  background-image: url("/ono-tebe-nado/images/cover.jpg");
  flex-basis: auto;
  height: 757px;
  padding: 165px 50px 50px 50px;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
}

.cover__title {
  text-transform: uppercase;
  color: #fff;
  font-family: Raleway, sans-serif;
  letter-spacing: 30px;
  font-size: 100px;
  line-height: 100px;
}

.cover__title span {
  display: block;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  color: #FFF;
  text-align: right;
  font-family: Raleway;
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: flex-end;
}

.cover__description-text {
  word-spacing: 20px;
 

}

.bet-button {
  display: inline-block;
  background-color: transparent;
  border: 5 px solid white;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  text-transform: uppercase;
}
 
.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.lots__heading {
}

.lots__card-list {

  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

.lots__card-list-item {
  width: 450px;
  height: 450px;

}

.card {
  width: 450px;
  height: 450px;
  border: 1px solid green;
  padding: 50px 40px;
}

.card_link {
  display: block;
}

.card {
  width: 430px;
  height: 450px;
}

.card_type_film {
  background-image: url("/ono-tebe-nado/images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("/ono-tebe-nado/images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("/ono-tebe-nado/images/card-lot-03.jpg");
}

.card__title {
 
  top: 50px;
  left: 40px;
  right: 40px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  bottom: 50px;
  left: 40px;
  right: 40px;
  display: grid;

}
 
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  border: 1px solid green;
  margin-top: 181px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 180px;
  height: 493px;
}

.about__logo {
  background-color: black;
  align-self: start;
  justify-self: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
  justify-items: center;
  display: grid;
} 

.about__logo-image {
  width: 148px;
  height: 114px;
  justify-items: center;
  align-items: start;
}

.about__title {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: space-between;
}

.footer {
  border: 1px solid green;
  width: 1340px;
  height: 109px;
  display: flex;
  justify-content: space-between; 
  margin-left: 50px;
}

.footer__menu {
  
}

.footer__social-list {
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;

}

.footer__social-link {
  display: inline-block;
  height: 48px;
  width: 48px;
}